@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="POST">
    <input type="text" name="description" placeholder="Describe task..."/>
    <input type="submit"/>
    </form>
    <p>

<form method="GET">

<div class="row">
    <div class="backlog" ondrop="drop(event)" ondragover="allowDrop(event)" id="div1">
    <header>backlog</header>
    @foreach (Models.Card card in Model.cards)
    {

        @if (card.ColumnID == 1)
        {
            <ul>
                <li>
                <div class="card" draggable="true" ondragstart="drag(event)" id="@card.ID">@card.Name<span class="close" onclick="removeDiv(this);">x</span>
                </li>
            </ul>
        }
    }
    </div></div>
    
    <div class="inprogress" ondrop="drop(event)" ondragover="allowDrop(event)" id="div2">
    <header>Inprogress</header>
    @foreach (Models.Card card in Model.cards)
    {

        @if (card.ColumnID == 2)
        {
            <ul>
                <li>
                <div class="card" draggable="true" ondragstart="drag(event)" id="@card.ID">@card.Name<span class="close" onclick="removeDiv(this);">x</span>
                </li>
            </ul>
        }
    }
    </div></div>

    <div class="done" ondrop="drop(event)" ondragover="allowDrop(event)" id="div3">
    <header>Done</header>
    @foreach (Models.Card card in Model.cards)
    {

        @if (card.ColumnID == 3)
        {
            <ul>
                <li>
                <div class="card" draggable="true" ondragstart="drag(event)" id="@card.ID">@card.Name<span class="close" onclick="removeDiv(this);">x</span>
                </li>
            </ul>
        }
    }
    </div></div></div>

    


<div class="row">
<div class="backlog" ondrop="drop(event)" ondragover="allowDrop(event)" id="div1">
<header> Backlog</header>
<ul>
    <li>
<div class="card" draggable="true" ondragstart="drag(event)" id="drag1">item 1<span class="close" onclick="removeDiv(this);">x</span>
    </li>
</ul>
<div class="inprogress" ondrop="drop(event)" ondragover="allowDrop(event)" id="div2">
    <header> In progress</header>
     <ul>
    <li>
    <div class="card" draggable="true" ondragstart="drag(event)" id="drag2">item 3<span class="close"  onclick="removeDiv(this);">x</span>
     </li>
</ul>

<div class="done" ondrop="drop(event)" ondragover="allowDrop(event)" id="div3">
    <header> Done</header>
    <ul>
        <li>
            </li>
            </ul>
</form>
</p>



<script>
function allowDrop(ev) {
    event.preventDefault();
}

function drag(ev) {
    event.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    event.preventDefault();
    var data = event.dataTransfer.getData("text");
    event.target.appendChild(document.getElementById(data));
}

function removeDiv(btn){
    ((btn.parentNode).parentNode).removeChild(btn.parentNode);
}
</script>
